/* src/Components/Navbar.css */

nav {
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 0.001rem;
    background: linear-gradient(to bottom right, rgba(34, 98, 144, 0.35), rgb(248, 248, 248), rgb(19, 78, 109));
    
  }
  
  .logo{  background: linear-gradient(to bottom right, rgb(80, 13, 70), rgb(93, 173, 210), rgb(52, 4, 52));
    -webkit-background-clip: text;
    color: transparent;}
  
  nav a.link {
    transition: color 0.3s ease-in-out;
  }
  
  nav a.link:hover {
    color: #000000; /* Change link color on hover */
  }
  
 .cart {
    font-size: 1.5em;
    color: #2f2828;
    
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 1s ease-in-out;
    
  }
  
  .cart:hover {
    color: rgb(3, 122, 3);
    transform: scale(1.5) rotate(10deg); 
    
   
  }
  /* Media query for small screens */
@media (max-width: 600px) {
  .nav {
    padding-top: 1rem; /* Adjust padding for small screens */
    background: linear-gradient(to bottom right, rgba(206, 206, 206, 0.35), rgb(248, 248, 248), rgb(248, 248, 248));
  }
  
}


