/* Background for each product card that exist in the website */
.ProductCard
{
    background: linear-gradient(to bottom right, rgba(34, 98, 144, 0.35), rgb(248, 248, 248), rgb(19, 78, 109));
}

/* Media query for small screens */
@media (max-width: 600px) {
    .Home {
      padding-top: 4rem; /* Adjust padding for small screens */
    }
  }
  
  /* Media query for medium screens */
  @media (min-width: 601px) and (max-width: 1200px) {
    .Home {
      padding-top: 5rem; /* Adjust padding for medium screens */
    }
  }
  
  /* Media query for large screens */
  @media (min-width: 1201px) {
    .Home {
      padding-top: 7rem; /* Adjust padding for large screens */
    }
  }