.head
{
    background: linear-gradient(to bottom right, rgba(13, 52, 80, 0.028), rgba(248, 248, 248, 0), rgb(93, 163, 201));
    height: 50vh;
   
}
/* Custom styles for the return button */
.return-button {
    font-size: 1.5rem; /* Make the button text larger */
    padding: 5px; /* Increase padding for a larger button */
  }
  